body {
  background-color: #8ad617;
}

.rating {
  margin: 100px 25px;
  display: flex;
  justify-content: center;
  background-color: #b3de72;
}

.item {
  background-color: rgb(174, 178, 189);
  mask-image: url("estrella.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.item-full {
  background-color: yellow;
}
